{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Tildeltnummer-udregner</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Her kan du udregne tildelt nummer, og tjekke forrige udregninger ud fra ID fundet i log!</p>
                </div>
            </div>
        </div>
    </div>
</header>

<form method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row justify-content-center"> <!-- Center the content horizontally -->
            <div class="col-md-6">
                <div class="card bg-light p-4">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Tast Selv</h5> <!-- Center the title -->
                        <input type="number" class="form-control mb-3" placeholder="Pris" name="test1" min="0" step="1" value="{{ test1_ses }}" >
                        <input type="date" class="form-control mb-3" placeholder="Date Field" name="test_date_fra" style="color: grey;" value="{{ test_date_fra_get_ses }}">
                        <input type="date" class="form-control mb-3" placeholder="Date Field" name="test_date_til" style="color: grey;" value="{{ test_date_til_get_ses }}">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button> <!-- Make the button full width -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if message2 %}
    <div class="alert alert-secondary mt-3 bg-light" role="alert">
        <p class="mb-0 text-center"> {{ message2 }} </p> <!-- Center the message -->
        <div class="text-center"> <!-- Centering the button -->
            <br>
            <button type="submit" class="btn btn-primary px-4 me-sm-3" name="test_knap">Gem og vis ID</button>
        </div>
    </div>
    {% endif %}
    {% if message3 %}
    <div class="alert alert-secondary mt-3 bg-light" role="alert">
        <p class="mb-0 text-center"> {{ message3 }} </p> <!-- Center the message -->
    </div>
    {% endif %}
</form>

<!-- "tjekform" input field -->
<div class="container mt-3">
    <div class="row justify-content-center"> <!-- Align the content to the left -->
        <div class="col-md-6">
            <form id="tjekForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="tast_id" id="tastIdInput" class="form-control mb-3" placeholder="Tast ID ind her">
                </div>
                <button class="btn btn-primary btn-block" type="submit" id="tjekButton" style="margin-bottom: 50px;">Tjek ID</button> <!-- Make the button full width -->
            </form>
        </div>
    </div>
</div>

<div class="col-md-6-center">
    <div class="bg-light p-4 text-center"> <!-- Align the text to the left -->
        <button type="button" class="btn btn-sm btn-secondary" 
                data-bs-toggle="popover" 
                data-bs-title="Popover title" 
                data-bs-placement="bottom"
                data-bs-content="Indtast værdier i felterne. Dernæst tryk på 'Udregn' og tjek om alt er korrekt. Hvis du ønsker at benytte udregningen og kopiere den i loggen, SKAL du trykke på 'Gem og vis ID' og derefter kopiere ID'et i loggen. 
                    Du kan tjekke ethvert ID's indhold ved at kopiere det ind i det sidste felt. ">Hvordan bruger jeg udregneren?</button>
    </div>
</div>


<!-- JavaScript to handle form submission -->
<script>
    document.getElementById("tjekForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the default form submission behavior

        // Get the value of the input field
        var tastId = document.getElementById("tastIdInput").value;

        // Construct the URL with the ID
        var redirectUrl = "{% url 'tjek_id' 0 %}".replace("0", tastId); // '0' is a placeholder, will be replaced by Django's URL template tag

        // Redirect the user to the constructed URL
        window.location.href = redirectUrl;
    });

    // Logik til popover på linje 24
    document.addEventListener('DOMContentLoaded', function() {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        });
    });
</script>

{% endblock %}
